<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
         <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
            <ul class="nav" id="menu">
                <li class = "text-center"><a href="#" data-toggle="offcanvas" class = "navBar-icon"><i class="fa fa-navicon fa-1x"></i></a></li>
                <li><a href="/user/home"><i class="fa fa-home" aria-hidden="true"></i><span class="collapse visible-xs"> Будинки</span></a></li>
                <li><a href="/user/houses/add"><i class="fa fa-plus-square-o" aria-hidden="true"></i><span class="collapse visible-xs"> Додати будинок</span></a></li>
            
            </ul>
        </div>
</div>
</body>
</html>


