<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head>
<title>Головна</title>
</head>
<body>
<div  layout:fragment="content">
 <section class="container">
  <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class = "article">
                    <h3 class = "title">Приєднуйся до нас!!!!</h3>
                     <img class = "big_image" src="resources/static/img/fotos/1.png"   alt = "logo site" width = "100%">
                    <p class = "text-center"> Одна з найкращих систем проти пожежного захисту  будинку</p>  
                    <div class = "row">
                    <div class = "col-md-6"><p class = "text-left" style = "padding-top: 170px;"> Цілодобовий монітооринг систем</p></div>
                    <div class = "col-md-6"> <img class = "big_image" src="resources/static/img/fotos/2.png"   alt = "logo site"  width = "100%"></div>
                    </div>
                      <div class = "row">
                      <div class = "col-md-6"> <img class = "big_image" src="resources/static/img/fotos/4.png"   alt = "logo site"  width = "100%"></div>
                    <div class = "col-md-6"><p class = "text-right" style = "padding-top: 170px;"> Протипожежний захист</p></div>
                    </div>
                    <div class = "row">
                    <div class = "col-md-6"><p class = "text-left" style = "padding-top: 170px;     border: 5px solid #477fdc;"> Захист від крадіжок</p></div>
                    <div class = "col-md-6"> <img class = "big_image" src="resources/static/img/fotos/3.png"   alt = "logo site"  width = "100%"></div>
                    </div>
                    <div class = "row">
                      <div class = "col-md-6"> <img class = "big_image" src="resources/static/img/fotos/6.png"   alt = "logo site"  width = "100%"></div>
                    <div class = "col-md-6"><p class = "text-right" style = "padding-top: 170px;     border: 5px solid #d83462;"> Інтуїтивний інтерфейс</p></div>
                    </div>
                     <p class = "text-center"> То ж, приєднуйся до нас!!!!</p>  
                    <img class = "big_image" src="resources/static/img/fotos/7.png"   alt = "logo site" width = "100%">
                    </div>
                </div>
            </div>
    </div>
 </section>
</div>




</body>
</html>
